/**************/
/* CSS REMEDY */
/**************/


*,
*::after,
*::before {
  box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {
  --color-background: black;
  --color-text: white;
  --button-text: black;
  --nav-background: rgba(50, 50, 50, 0.75);
  --button-default: rgba(50, 50, 50, 0.75);
  --button-hover: white;
  --button-nav: #D45444;
  --color-p: darkgrey;
  --nav: rgb(58, 58, 58);
}



/***********************/
/***** FONT FACES *****/
/*********************/


@font-face {
  font-family: rijksmuseum;
  src: url(../font/Rijksmuseum-Bold.woff2) format('woff2');
  font-weight: bold;
}


@font-face {
  font-family: rijksmuseum;
  src: url(.../font/Rijksmuseum-Normal.woff2) format('woff2');
  font-weight: normal;
}


/*********************/
/***** ALGEMEEN *****/
/*******************/


* {
  font-family: 'rijksmuseum', sans-serif;
  font-weight: bold;
  color: var(--color-text);
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-background);
}


a[href="#main"]:link {
  position: absolute;
  left: 0em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


a[href="#main"]:link:focus {
  position: static;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
  padding: 0;
}

/*********************/
/****** HEADER *******/
/********************/


h1 {
  position: relative;
  font-size: 12em;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  margin: 0;
  top: 0.1em;
}


@media (max-width: 40em) {
  h1 {
    font-size: 3em;
    top: 1em;
  }
}


/* header styling */


header {
  background-image: url('../images/rijksmuseum.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 225vh;
  height: 40em;
  margin: 0;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

ul li {
  list-style: none;
}

header section {
  display: flex;
  flex-direction: column;
  left: 4em;
}

/* navigatie */


nav:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
}


header img:first-of-type {
  width: 5vh;
  z-index: 100;
  position: relative;
}

nav:first-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-y: auto;
}


@media (max-width: 40em) {
  header nav:first-of-type {
    display: block;
  }
}


nav:first-of-type ul li a {
  font-size: large;
  text-decoration: none;
  line-height: 2em;
  padding: 1em;
}


nav:first-of-type ul:first-of-type li a {
  color: var( --color-p); 
  font-size: larger;
}


nav:nth-of-type(2) ul {
  list-style-type: none;
  margin: 1em;
  display: flex;
}


nav:nth-of-type(2) li {
  position: relative;
}


nav:nth-of-type(2) ul a {
  display: block;
}


nav:nth-of-type(2) li a {
  text-decoration: none;
  padding: 1em;
  display: block;
}


nav:nth-of-type(2) ul li:nth-child(-n+7)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--button-hover);
  transition: width 0.25s ease-out;
}


nav:nth-of-type(2) ul li:nth-child(-n+7):hover::before {
  width: 100%;
}


nav:nth-of-type(2) ul li:not(:first-child):not(:last-child) {
  display: none;
}

@media (width > 40em) {
  nav:nth-of-type(2) ul li:not(:first-child):not(:last-child) {
    display: block;
  }
}


nav:nth-of-type(2) ul li:nth-child(3) {
  margin-right: 23em;
}


nav:nth-of-type(2) ul li:last-of-type a {
  color: var(--color-text);
  padding: 1em, 5em, 0em;
  background-color: var(--button-nav);
}


nav:nth-of-type(2) ul li:last-of-type:hover a {
  color: var(--button-text);
  background-color: var(--button-hover);
}


nav:nth-of-type(2) ul li:last-of-type a {
  transition: color .3s ease, background-color .3s ease;
}


/* tekst (h2 en p) */


header section:last-of-type {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0em 0em 5em 4em;
}


@media (max-width: 40em) {
  header section:last-of-type {
    font-size: 1em;
    padding: 0em 0em 6em 1em;
    text-align: left;
  }

  footer div:first-of-type ul {
    padding: 0;
  }
}


header section:last-of-type.tekst {
  left: 40em;
  bottom: 0;
}


header button {
  position: relative;
  top: 2em;
  left: 4em;
}


@media (max-width: 40em) {
  header button {
    left: 0;
  }
}


@media (max-width: 40em) {
  header nav:nth-of-type(2) ul li:first-child {
    left: -1em;
  }
}


/* hamburger menu */


button {
  border: none;
  background: none;
}


header button[aria-expanded="true"] img {
  content: src("https://assets.codepen.io/274456/ui-icon-cross.svg");
  z-index: 100;
}


header>button {
  z-index: 100;
}


header nav:first-of-type {
  position: fixed;
  inset: 0;
  width: 50%;
  transform: translateX(-100%);
  transition: .5s;
  background-color: var(--nav);
  padding-top: 3em;
  opacity: 0;
  transition: opacity 1s, visibility 0s 1s;
}


header nav:first-of-type.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1s visibility 0s 1s;
  z-index: 70;
}


@media (max-width: 40em) {
  header nav:first-of-type.open {
    padding-top: 10em;
  }
}


body.menu-open {
  overflow: hidden;
}


@media (max-width: 40em) {
  h1.telefoon {
    opacity: 0;
    width: 100%;
  }
}


@media (max-width: 40em) {
  header nav:first-of-type {
    width: 100%;
  }
}


/*********************/
/****** FOOTER *******/
/********************/


footer {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  grid-gap: 1em;
}


footer h2 {
  font-size: large;
}


footer section:first-of-type {
  padding: 3em;
  left: 1em;
  font-size: larger;
}


footer section:first-of-type p {
  color: var(--color-p);
}


footer section:nth-of-type(2) {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}


footer section:nth-of-type(2) div:nth-of-type(2) img {
  width: 10vh;
}


footer>div:nth-child(2) ul li {
  list-style: none;
  padding: 1em;
  font-size: medium;
}


footer section:nth-of-type(2) img {
  opacity: 100%;
  transition: 0.3s;
}


footer section:nth-of-type(2) img:hover {
  opacity: 60%;
}


footer section:nth-of-type(2) div:first-of-type ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}


footer section:nth-of-type(2) div:first-of-type ul li {
  list-style: none;
  padding: 1em 2em 1em;
  background-color: var(--button-default);
  font-size: large;
  transition: 0.5s;
  border: solid var(--button-text) 0.5em;
}


footer section:nth-of-type(2) div:last-of-type ul {
  margin: 0;
  padding: 0;
  align-items: flex-end;
}


footer section:nth-of-type(2) div:last-of-type ul li {
  padding: 2em 2em 2em 0em;
}


footer section:nth-of-type(2) div:first-of-type ul li:hover {
  background-color: var(--button-hover);
  color: var(--button-text);
}


footer section:nth-of-type(2) div:nth-of-type(2) ul li {
  list-style: none;
}


@media (max-width: 40em) {
  footer section:first-of-type {
    padding-left: 0em;
    padding-bottom: 0em;
  }
}


/* footer laatste deel */


footer div:last-of-type ul {
  list-style-type: none;
  display: flex;
}


footer div:first-of-type ul {
  margin: 0;
}


footer>div:last-child ul {
  list-style-type: none;
  margin: 1em;
  display: flex;

}


@media (max-width: 40em) {
  footer>div:last-child ul {
    flex-direction: column;
  }
}


footer>div:last-child ul li {
  position: relative;
  text-decoration: none;
  padding: 1em;
}


footer div:last-of-type ul:last-of-type li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--button-hover);
  transition: width 0.25s ease-out;
}


footer div:last-of-type ul li:hover::before {
  width: 100%;
}


@media (max-width: 40em) {
  footer {
    grid-template-columns: 1fr;
    overflow: hidden;
  }
}


footer div:nth-of-type(2) ul li a img {
  width: 5em;
  opacity: 0.5;
}


footer div:nth-of-type(2) ul li a img:hover {
  opacity: 1;
  transition: 0.5s;
}


@media (max-width: 40em) {
  footer>div:last-child ul {
    width: 100%;

  }
}
