/**************/
/* CSS REMEDY */
/**************/


*,
*::after,
*::before {
  box-sizing: border-box;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {
  --color-background: black;
  --color-text: white;
  --button-text: black;
  --nav-background: rgba(50, 50, 50, 0.75);
  --button-default: rgba(50, 50, 50, 0.75);
  --button-hover: white;
  --button-nav: #D45444;
  --color-p: darkgrey;
  --nav: rgb(58, 58, 58);
}


/***********************/
/***** FONT FACES *****/
/*********************/


@font-face {
  font-family: rijksmuseum;
  src: url(../fonts/Rijksmuseum-Bold.woff2) format('woff2');
  font-weight: bold;
}


@font-face {
  font-family: rijksmuseum;
  src: url(../fonts/Rijksmuseum-Normal.woff2) format('woff2');
  font-weight: normal;
}


/*********************/
/***** ALGEMEEN *****/
/*******************/


* {
  font-family: 'rijksmuseum', sans-serif;
  font-weight: bold;
  color: var(--color-text);
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-background);
}


a[href="#main"]:link {
  position: absolute;
  left: 0em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


a[href="#main"]:link:focus {
  position: static;
  width: auto;
  height: auto;
}


a {
  text-decoration: none;
  padding: 0;
}


/*********************/
/****** HEADER *******/
/********************/





h1, 
h2 {
 text-transform: uppercase;
}


header {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40em;
  margin: 0;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


/* menu */


nav:first-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-y: auto;
}


nav:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 1em;
}


@media (min-width: 40em) {
  h1 {
    z-index: 100;
  }

  header nav:first-of-type {
    display: block;
  }

  body.menu-open header {
    background-position: 50vw top;
  }

  main h2.tekst {
    left: 30em;
    bottom: 0;
  }

  main>section:first-of-type p.tekst2 {
    left: 45em;
    bottom: 0;
  }
}


nav:first-of-type ul:first-child {
  padding: 1em;
  font-family: rijksmuseum;
  font-weight: normal;
}


nav:first-of-type ul:first-of-type {
  display: flex;
  gap: 0.5em;
}


nav:first-of-type ul:first-of-type li:not(:last-child)::after {
  content: " |";
}


nav:first-of-type ul:nth-of-type(2) li a {
  color: var(--color-p);
  font-size: larger;
}


nav:nth-of-type(2) ul {
  list-style-type: none;
  margin: 1em;
  display: flex;
}


nav:nth-of-type(2) li {
  position: relative;
}


nav:nth-of-type(2) ul a {
  display: block;
}


nav:nth-of-type(2) li a {
  text-decoration: none;
  padding: 1em;
  display: block;
}


nav:nth-of-type(2) ul li:nth-last-child(-n+5)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1.5em;
  width: 0;
  height: 1px;
  background-color: var(--button-hover);
  transition: width 0.25s ease-out;
  font-weight: normal;
}


nav:nth-of-type(2) ul li:nth-last-child(-n+5):hover::before {
  width: 100%;
}


nav:nth-of-type(2) ul li:not(:first-child):not(:last-child) {
  display: none;
}


@media (min-width: 40em) {
  nav:nth-of-type(2) ul li:not(:first-child):not(:last-child) {
    display: block;
  }

  nav:first-of-type ul:first-of-type {
    display: none;
  }
}


nav:nth-of-type(2) ul li:nth-child(3) {
  margin-right: 23em;
}


nav:nth-of-type(2) ul li:last-of-type a {
  color: var(--color-text);
  padding: 1em, 5em, 0em;
  background-color: var(--button-nav);
  font-weight: normal;
}


nav:nth-of-type(2) ul li:last-of-type:hover a {
  color: var(--button-text);
  background-color: var(--button-hover);
}


nav:nth-of-type(2) ul li:last-of-type a {
  transition: color .3s ease, background-color .3s ease;
}


nav:first-of-type ul:last-of-type li a img {
  width: 5em;
}


nav:first-of-type>ul:last-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  padding: 5em 0em 5em;
  background-color: #202327;
  margin: 0;
}


@media (min-width: 40em) {
  nav:first-of-type>ul:last-of-type {
    display: none;
  }
}


ul li {
  list-style: none;
}


header img:first-of-type {
  width: 5vh;
  z-index: 100;
  position: relative;
  top: 0;
}


nav:first-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-y: auto;
}


header nav:first-of-type {
  display: block;
}

nav:first-of-type ul:nth-child(2) li a,
nav:first-of-type ul:nth-child(3) li a {
  font-size: large;
  text-decoration: none;
  line-height: 2em;
  padding: 1em;
}


nav:first-of-type ul:nth-of-type(2) li a {
  color: var(--color-p);
  font-size: larger;
}


nav:nth-of-type(2) ul {
  list-style-type: none;
  margin: 1em;
  display: flex;
}


/* hamburger */


header button img {
  width: 5vh;
  z-index: 100;
  position: relative;

}


@media (min-width: 40em) {
  header button img {
    left: 2em;
  }
}


button {
  border: none;
  background: none;
  padding: 2em 1em 0em;
}


header button[aria-expanded="true"] img {
  content: src("https://assets.codepen.io/274456/ui-icon-cross.svg");
  z-index: 100;
}


header>button {
  z-index: 100;
}


header nav:first-of-type {
  position: fixed;
  inset: 0;
  transform: translateX(-100%);
  transition: .5s;
  background-color: var(--nav);
  padding-top: 3em;
  opacity: 0;
  transition: opacity 1s;
}


header nav:first-of-type.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1s;
  z-index: 70;
}


@media (min-width: 40em) {
  header nav:first-of-type {
    display: flex;
    width: 50%;
  }
}


body.menu-open {
  overflow: hidden;
}


/*********************/
/****** FOOTER *******/
/********************/


footer h2 {
  font-size: large;
  color: var(--color-text);
  text-transform: uppercase;
}


footer {
  grid-template-columns: 1fr;
  overflow: hidden;

}


footer section:first-of-type {
  font-size: larger;
  padding: 1em;
}


footer section:first-of-type p {
  color: var(--color-p);
  line-height: 0em;

}


/* bovenste deel  */


footer div:first-of-type ul {
  padding: 1.25em;
  line-height: 3em;
}


footer section:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (min-width: 768px) {

  footer section:nth-of-type(2) div:last-of-type ul {
    justify-content: flex-start;
    align-items: flex-start;
  }

}


@media screen and (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr;
    grid-gap: 1em;
    padding: 3em;
  }

  footer div:first-of-type ul {
    padding: 0;

  }
}


footer section:nth-of-type(2) div:nth-of-type(2) img {
  width: 7em;
  padding: 1em;
  opacity: 60%;
}


footer section:nth-of-type(2) div:nth-of-type(2) img:hover {
  opacity: 100%;
  transition: 0.5s ease;
}


footer section:nth-of-type(2) div:last-of-type li img {
  width: 1.5em;
}


footer section:nth-of-type(2) div:first-of-type ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

}


footer section:nth-of-type(2) div:first-of-type ul li {
  list-style: none;
  font-size: large;
  border: solid var(--button-text) 0.5em;
  line-height: 1em;
  padding: 1em 2em 1em;
  background-color: var(--button-default);
}



footer section:nth-of-type(2) div:last-of-type ul {
  margin: 0;
  padding: 0;
  display: flex;
}


footer section:nth-of-type(2) div:last-of-type ul li {
  padding: 2em 2em 2em 0em;
}


footer section:nth-of-type(2) div:last-of-type ul li:hover {
  opacity: 50%;
  transition: 0.5s;
}




/** onderste deel **/


footer>div:last-child>ul:first-of-type li img {
  width: 4.5em;
  opacity: 0.6;
}


footer>div:last-child>ul:first-of-type li img:hover {
  transition: 0.5s;
  opacity: 1;
}


footer>div:last-child>ul:last-of-type li {
  opacity: 70%;
}


footer>div:last-child>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.5em;
}


footer>div:last-child>ul:last-of-type li:not(:last-of-type)::after {
  content: " | ";
  margin-left: 0.4em;
}


@media screen and (min-width: 768px) {
  footer>div:last-child>ul {
    justify-content: flex-start;
  }
}


footer div:last-of-type {
  grid-column-start: 1;
  grid-column-end: -1;
}


footer>div:last-of-type ul:last-of-type li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--button-hover);
  transition: width 0.25s ease-out;
}


footer>div:last-of-type ul:last-of-type li:hover::before {
  width: 90%;
}


footer div:first-of-type ul li,
footer div:last-of-type ul li {
  position: relative;
}


footer>div:first-of-type ul li::before {
  content: '';
  position: absolute;
  bottom: 1em;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.25s ease-out;
}


footer>div:first-of-type ul li:hover::before {
  width: 30%;
}