/*********************/
/****** MAIN ********/
/********************/


main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}


main section article:first-of-type,
main section article:last-of-type {
  grid-column-start: 1;
  grid-column-end: -1;
}


section:first-of-type {
  position: relative;
  bottom: 2.5em;
}


article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
}


main section article h3 {
  position: absolute;
  padding: 3em;
  z-index: 1;
}


main section article p {
  position: absolute;
  padding: 2em 3.5em 2em
}


article img {
  transition: 0.7s all ease-in-out;
}


article img:hover {
  transform: scale(1.02);
}


@media (max-width: 40em) {
  main section {
    grid-template-columns: 1fr;
  }

  article img {
    height: 100vh;
    object-fit: cover;
  }
}


@media (max-width: 40em) {
  main section article p {
    padding: 1em 1em 1em 2.25em;
    text-align: left;
  }

  main section article h3 {
    padding: 2em;
    text-align: left;
  }
  

  main>section>article:first-of-type h3,
  main>section>article:last-child h3 {
    padding: 2em 2em 4em 2em;
  }
}
