/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}



section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 16em), 1fr));
  grid-gap: 0; 
}

section article:nth-child(-n+2) {grid-column: span 2;
}

section article:nth-child(3) {
  grid-column: span 2;
  grid-column:1/-1;
}

img {
  width: 100%;
 }



ul {
  list-style-type: none;
  margin: 1em;
  display: flex;
}

li {
  position: relative; /* Add relative positioning to <li> */
}

li a {
  text-decoration: none;
  color: rgb(120, 85, 77);
  padding: 1em;
  display: block;
}

li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Set initial width to 0 */
  height: 2px;
  background-color: black;
  transition: width 0.25s ease-out;
}

li:hover a::before {
  width: 80%; /* Expand the width on hover */
}

nav {
  display: flex;
  justify-content: flex-end;
  border-radius: 50px;
}

h1 {
  font-size: 10em;
  display: flex;
  margin-top: -0.2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

