/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-background: black;
  --color-text: white;
  --button-text: black;
  --nav-background: rgba(50, 50, 50, 0.75);
  --button-default: rgba(50, 50, 50, 0.75);
  --button-hover: white;
  --button-nav: #D45444;
  --color-p: darkgrey;
  --nav: rgb(58, 58, 58);
  --slideshow-button: rgba(0, 0, 0, 0.5);
  --background2: #3f4040;
}

/*********************/
/****** HEADER ******/
/********************/


h1 {
  position: relative;
  font-size: 6em;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  margin-bottom: 0;
}


@media (width > 40em) {
  nav:nth-of-type(2) ul li:not(:first-child):not(:last-child) {
    display: block;
  }
}


header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  background-image: url('../images/vermeer2.jpg');
}


header section:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0em 0em 5em 5em;
  margin-top: 0;
}


@media (max-width: 40em) {
  h1 {
    font-size: 3em;
    padding-bottom: 1em;
  }

  header section:last-of-type {
    padding: 0em;
  }
}


header button {
  top: -43.5em;
  position: relative;
}


/*********************/
/****** MAIN ********/
/********************/


main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  overflow: hidden;
}


main section {
  background-color: var(--background2);
}


main section:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: -1;
}


/* eerste twee secties */


main section:first-of-type span:first-of-type,
main section:nth-of-type(2) span:first-of-type {
  display: none;
}


main section:first-of-type span:first-of-type.more,
main section:nth-of-type(2) span:last-of-type.more {
  display: inline;
}


main section:first-of-type,
main section:nth-of-type(2) {
  padding: 3em;

}


@media (max-width: 40em) {

  main section:first-of-type,
  main section:nth-of-type(2) {
    width: 100vw;
    padding: 1em;
  }
}


main section:first-of-type p {
  color: var(--color-p);
}


main section:first-of-type p,
main section:nth-of-type(2) p {
  font-size: large;
  line-height: 1.5em;
  font-family: 'rijksmuseum', sans-serif;
  font-weight: normal;
}


section article:nth-of-type(3) ul li:first-child {
  list-style: none;
  color: var(--color-p);
  font-size: large;
  line-height: 1.5em;
}


section article:nth-of-type(3) ul li {
  color: var(--color-p);
  font-size: large;
  line-height: 1.5em;
  font-family: 'rijksmuseum', sans-serif;
  font-weight: normal;
  line-height: 1.5em;
}


main section div:last-of-type {
  position: relative;
  height: 15vh;
}


main section:first-of-type a {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  padding: 1em 2em 1em;
  background-color: var(--button-nav);
}


main section:first-of-type a:hover {
  background-color: var(--button-hover);
  color: var(--button-text);
}


section:first-of-type a:last-of-type {
  transition: color .3s ease,
    background-color .3s ease;
}


@media (max-width: 40em) {
  main {
    grid-template-columns: 1fr;
  }

  main img {
    height: 100vh;
    object-fit: cover;
  }

}


/* derde sectie (slideshow) */


main section:nth-of-type(3) ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


main section:nth-of-type(3) ul::-webkit-scrollbar {
  display: none;
}


main section:nth-of-type(3) ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


main section:nth-of-type(3) ul li {
  list-style: none;
  position: relative;
  display: inline-block;
}


main section:nth-of-type(3) img {
  width: 100vw;
  height: 100vh;
  flex: 0 0 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}


main section:nth-of-type(3) button:first-of-type,
main section:nth-of-type(3) button:last-of-type {
  font-size: large;
  padding: 0;
  background-color: var(--slideshow-button);
  position: relative;
  bottom: 20em;
  color: var(--color-text);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


main section:nth-of-type(3) button:first-of-type:hover,
main section:nth-of-type(3) button:last-of-type:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


main section:nth-of-type(3) button:last-of-type {
  left: 50em;
}


@media (max-width: 40em) {
  main section:nth-of-type(3) button:last-of-type {
    left: 1em;
  }


  main section:nth-of-type(3) button:first-of-type,
  main section:nth-of-type(3) button:last-of-type {
    font-size: small;
  }
}


main section:nth-of-type(3) span {
  position: absolute;
  bottom: 0;
  left: 2em;
  padding: 2em;
  z-index: 100;
  font-size: large;
}


main section:nth-of-type(3) span:first-of-type {
  bottom: 4em;
}


main section:nth-of-type(3) span:nth-of-type(2) {
  bottom: 2em;
  font-family: 'rijksmuseum', sans-serif;
  font-weight: normal;
}


/* Laatste sectie */


main section:nth-of-type(4) img,
main section:last-of-type img {
  width: 40em;
  grid-column: 1fr 1fr;
}


main section:nth-of-type(4) article,
main section:last-of-type article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}


main section:nth-of-type(4) article h3,
main section:last-of-type article h3 {
  position: absolute;
  padding: 3em;
  z-index: 1;
}


main section:nth-of-type(4) article p,
main section:last-of-type article p {
  position: absolute;
  padding: 2em 3.5em 2em;

}


article img {
  transition: 0.7s all ease-in-out;
}


article img:hover {
  transform: scale(1.02);
}


main section:nth-of-type(4) article h3 {
  padding: 3em 3em 4em 3em;
  text-align: left;
}


main section:last-of-type article h3 {
  padding: 3em 3em 4em 3em;
  text-align: left;
}


@media (max-width: 40em) {
  main section article p {
    padding: 0;

  }
}


/*********************/
/***** FOOTER *******/
/********************/


footer {
  padding: 1em;
}
