:root {
  --color-background: black;
  --color-text: white;
  --button-text: black;
  --nav-background: rgba(50, 50, 50, 0.75);
  --button-default: rgba(50, 50, 50, 0.75);
  --button-hover: white;
  --button-nav: #D45444;
  --color-p: darkgrey;
}


h1 {
  position: relative;
  font-size: 6em;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  background-image: url('../images/vermeer2.jpg');
}

header section:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0em 0em 5em 5em;
  margin-top: 0;
}

main section:first-of-type span:first-of-type {
  display: none;
}

main section:first-of-type span:first-of-type.more {
  display: inline;
}

main section:nth-of-type(2) span:first-of-type {
  display: none;
}

main section:nth-of-type(2) span:last-of-type.more {
  display: inline;
}

section article:nth-of-type(3) ul li:first-child {
  list-style: none;
  color: var(--color-p);
  font-size: large;
  line-height: 1.5em;
}

section article:nth-of-type(3) ul li {
  color: var(--color-p);
  font-size: large;
  line-height: 1.5em;
  font-family: 'rijksmuseum', sans-serif;
  font-weight: normal;
  line-height: 1.5em;
}





main section:first-of-type {

  padding: 2em;
}

main section:nth-of-type(2) {

  padding: 2em;
}

button {
  font-size: large;
  padding: 0;
}

main section:first-of-type p {
  color: var(--color-p);
  font-size: large;
  line-height: 1.5em;
  font-family: 'rijksmuseum', sans-serif;
  font-weight: normal;
}

main section:nth-of-type(2) p {
  font-size: large;
  line-height: 1.5em;
  font-family: 'rijksmuseum', sans-serif;
  font-weight: normal;
}

main section div:last-of-type {
  position: relative;
  height: 15vh;
}

main section:first-of-type a {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  padding: 1em 2em 1em;
  background-color: var(--button-nav);
}


main section:first-of-type a:hover {
  background-color: var(--button-hover);
  color: var(--button-text);
}


section:first-of-type a:last-of-type {

  transition: color .3s ease, background-color .3s ease;
}

h2 {
  display: none;
}

main section {
  background-color: #3f4040;
}

main img {
  width: 100vw;
  height: 100vh;
  flex: 0 0 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
scroll-snap-align: start;
}

main section:last-of-type ul li {
  list-style: none;
  position: relative; /* Make the list item a positioning context for its children */
  list-style: none; /* Remove default list styles */
  display: inline-block;
}

main section:last-of-type ul {
  display: flex;
  width: 100vw;
overflow-y: hidden;
overflow-x: auto;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;

}


/* Hide scrollbar for Chrome, Safari and Opera */
main section:last-of-type ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main section:last-of-type ul {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none; }  

main section:last-of-type ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

main section:last-of-type button:first-of-type, main section:last-of-type button:last-of-type {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 20em;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main section:last-of-type button:last-of-type {
  left: 50em;}
  
main section:last-of-type button:first-of-type:hover, main section:last-of-type button:last-of-type:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  overflow: hidden;
}


main section:last-of-type {
  grid-column-start: 1;
  grid-column-end: -1;
}

main section:last-of-type span {
  position: absolute;
  bottom: 0;/* Position it at the top */
  left: 0; 
  color: white; /* Text color */
  padding: 5px;
z-index: 100;}
