/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-background: black;
  --color-text: white;
  --button-text: black;
  --nav-background: rgba(50, 50, 50, 0.75);
  --button-default: rgba(50, 50, 50, 0.75);
  --button-hover: white;
  --button-nav: #D45444;
  --color-p: darkgrey;
  --nav: rgb(58, 58, 58);
  --slideshow-button: rgba(0, 0, 0, 0.5);
  --background2: #3f4040;
  --button: rgba(15, 14, 14, 0.669);
}



/*********************/
/****** MAIN ********/
/********************/


header {
  background-image: url('../images/vermeer2.jpg');
}


main h1:first-child {
  font-size: 15vw;
}


main>p {
  font-family: rijksmuseum;
  font-weight: normal;
}


main h1,
main h2,
main>p {
  position: absolute;
  top: 15vh;
  left: 1vh;
  margin: 0;
  color: var(--color-text);
}


main h2,
main>p {
  top: 20em;
}


main h1:first-child {
  padding-left: 0;
  top: 66vh;
  font-size: calc(2.5rem + 5.625 * ((100vw - 20rem) / 100));
  text-transform: uppercase;
  word-break: break-word;
  line-height: .9;
}


main h1:first-child.vermeer {
  top: 25vh;
}

@media (min-width: 40em) {
  main h1:first-child {
    text-indent: 0.5em;
  }
}





nav:nth-of-type(2) ul li:nth-child(3) {
  opacity: 0;
}


nav:nth-of-type(2) ul li:nth-child(2) a {
  background-color: var(--button);
  padding: 1em 2em;
  transition: 0.5s;
}


nav:nth-of-type(2) ul li:nth-child(2) a:hover {
  background-color: rgba(255, 255, 255, 0.669);
  color: var(--color-background);

}


main>p {
  font-size: calc(1rem + .125 * ((100vw - 20rem) / 100));
  font-weight: 400;
  line-height: 1.375;
  left: 1vh;
  top: 80vh;
  line-height: 5vh;
}


main>p.tekst3 {
  text-indent: 40em;
}


@media (min-width: 40em) {
  main>p {
    text-indent: 3em;
  }
}


main h2:first-of-type,
main section:first-of-type article:first-of-type h3:first-of-type {
  display: none;
}


main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
   overflow: hidden;
}




main img {
  height: 100vh;
  object-fit: cover;
}


main section {
  background-color: var(--background2);
}


main section:first-of-type div:first-of-type,
main section:nth-of-type(2) div:first-of-type {
  display: none;
}


main section:first-of-type div:first-of-type.more,
main section:nth-of-type(2) div:last-of-type.more {
  display: inline;
}


main section:first-of-type,
main section:nth-of-type(2) {
  padding: 1em;
}


main section:first-of-type p {
  color: var(--color-p);
}


main section:first-of-type p,
main section:nth-of-type(2) p {
  font-size: large;
  line-height: 1.5em;
  font-family: 'rijksmuseum', sans-serif;
  font-weight: normal;
}


section article:nth-of-type(3) ul li:first-child {
  list-style: none;
  color: var(--color-p);
  font-size: large;
  line-height: 1.5em;
}


section article:nth-of-type(3) ul li {
  color: var(--color-p);
  font-size: large;
  line-height: 1.5em;
  font-family: 'rijksmuseum', sans-serif;
  font-weight: normal;
  line-height: 1.5em;
}


main section div:last-of-type {
  position: relative;
  height: 15vh;
}


main section:first-of-type a {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  padding: 1em 2em 1em;
  background-color: var(--button-nav);
}


main section:first-of-type a:hover {
  background-color: var(--button-hover);
  color: var(--button-text);
}


section:first-of-type a:last-of-type {
  transition: color 0.3s ease, background-color 0.3s ease;
}


/* slideshow */


main section:nth-of-type(3) ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


main section:nth-of-type(3) ul::-webkit-scrollbar {
  display: none;
}


main section:nth-of-type(3) ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}


main section:nth-of-type(3) ul li {
  list-style: none;
  position: relative;
  display: inline-block;
}


main section:nth-of-type(3) img {
  width: 100vw;
  height: 100vh;
  flex: 0 0 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}


main section:nth-of-type(3) button:first-of-type,
main section:nth-of-type(3) button:last-of-type {
  font-size: small;
  padding: 0;
  background-color: var(--slideshow-button);
  position: relative;
  bottom: 20em;
  color: var(--color-text);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


main section:nth-of-type(3) button:first-of-type:hover,
main section:nth-of-type(3) button:last-of-type:hover {
  background-color: var(--button-hover);
}


main section:nth-of-type(3) {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}


main section:nth-of-type(3) button:last-of-type {
  position: absolute;
  right: 0;
}


footer img {
  width: 1vw;
}


main section:nth-of-type(3) p {
  position: absolute;
  bottom: 0;
  padding: 2em;
  z-index: 100;
  font-size: large;
}


main section:nth-of-type(3) p:first-of-type {
  bottom: 4em;
}


main section:nth-of-type(3) p:nth-of-type(2) {
  bottom: 2em;
  font-family: 'rijksmuseum', sans-serif;
  font-weight: normal;
}


main section:nth-of-type(3) h3 {
  position: absolute;
  bottom: 6em;
  padding: 2em;
  z-index: 100;
  font-size: large;
}


/* Laatste sectie, images */


main section:last-of-type a {
  display: flex;
  margin: 0;
}


main section:last-of-type {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
}


@media (min-width: 40em) {

  main section article:first-of-type,
  main section article:last-of-type {
    grid-template-columns: 1fr 1fr;
  }
}


main section:last-of-type article img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}


main section:last-of-type article {
  position: relative;
}


main section:last-of-type article h3 {
  position: absolute;
  bottom: 1em;
  padding: 1em;
  text-transform: uppercase;
  z-index: 100;
}


main section:last-of-type p {
  position: absolute;
  bottom: 0;
  padding: 1.2em;

  font-weight: normal;
}


section:last-of-type article img {
  transition: 0.7s all ease-in-out;
}


section:last-of-type article img:hover {
  transform: scale(1.02);
}


main section:last-of-type h3::before {
  content: "";
  position: absolute;
  bottom: 1em;
  width: 0;
  height: 1px;
  background-color: var(--button-hover);
  transition: width 0.25s ease-out;
}


main section:last-of-type h3:hover::before {
  width: 80%;
}


main>section:last-of-type article {
  overflow: hidden;
}


@media (min-width: 40em) {
  main section:last-of-type {
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}


@media (min-width: 40em) {
  main section:last-of-type article img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
  }
}